<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AfterVotingMapper">

    <insert id="regAfterVoting" parameterType="com.fh.entity.system.AfterVoting">
        INSERT INTO TB_QUIZZES_CHASE
        (
        USER_ID,
        ROOM_ID,
        AFTER_VOTING,
        LOTTERY_NUM,
        MULTIPLE,
        CREATE_TIME
        )
        VALUES
        (
        #{USER_ID},
        #{ROOM_ID},
        #{AFTER_VOTING},
        #{LOTTERY_NUM},
        #{MULTIPLE},
        now()
        )
    </insert>

    <select id="getListAfterVoting" parameterType="String" resultType="com.fh.entity.system.AfterVoting">
        SELECT
        ID,
        USER_ID,
        ROOM_ID,
        AFTER_VOTING,
        LOTTERY_NUM,
        MULTIPLE
        FROM
        TB_QUIZZES_CHASE
        WHERE
        ROOM_ID = #{ROOM_ID}
        AND
        AFTER_VOTING != 0
        GROUP BY
        USER_ID

    </select>

    <update id="updateAfterVoting_Num" parameterType="com.fh.entity.system.AfterVoting">
        UPDATE TB_QUIZZES_CHASE SET AFTER_VOTING = #{AFTER_VOTING} WHERE ID = #{ID};
    </update>

    <select id="getAfterVoting" parameterType="com.fh.entity.system.AfterVoting"
            resultType="com.fh.entity.system.AfterVoting">
        SELECT
        ID,
        USER_ID,
        ROOM_ID,
        AFTER_VOTING,
        LOTTERY_NUM,
        MULTIPLE
        FROM
        TB_QUIZZES_CHASE
        WHERE
        ROOM_ID = #{ROOM_ID}
        AND
        USER_ID = #{USER_ID}
        AND
        MULTIPLE = #{MULTIPLE}
        AND
        LOTTERY_NUM = #{LOTTERY_NUM}

    </select>


</mapper>