<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GuessDetailMapper">

    <!--表名 -->
    <sql id="tableName">
        TB_DOLL_GUESS_DETAIL
    </sql>
    <sql id="Field">
       	GUESS_ID,
		APP_USER_ID,
		DOLL_ID,
		GUESS_TYPE,
		GUESS_KEY,
		GUESS_GOLD,
		CREATE_DATE,
		PLAYBACK_ID,
		SETTLEMENT_GOLD,
		SETTLEMENT_FLAG,
		SETTLEMENT_DATE
    </sql>

    <!-- 通过ID获取数据 -->
    <select id="findById" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        where
        GUESSDETAIL_ID = #{GUESSDETAIL_ID}
    </select>

    <!-- 列表 -->
    <select id="datalistPage" parameterType="page" resultType="pd">
		select
        g.GUESS_ID,
        g.APP_USER_ID,
        g.DOLL_ID,
        g.GUESS_TYPE,
        g.GUESS_KEY,
        g.GUESS_GOLD,
        g.CREATE_DATE,
        g.PLAYBACK_ID,
        g.SETTLEMENT_GOLD,
        g.SETTLEMENT_FLAG,
        g.SETTLEMENT_DATE,
        u.NICKNAME
        FROM
        TB_DOLL_GUESS_DETAIL g ,
        SYS_APP_USER  u
        where u.USER_ID=g.APP_USER_ID
        <if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
            and
            (
                u.NICKNAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
            )
        </if>
        ORDER BY g.CREATE_DATE DESC
    </select>

    <!-- 列表(全部) -->
    <select id="listAll" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
    </select>

    <!-- 批量删除 -->
    <delete id="deleteAll" parameterType="String">
        delete from
        <include refid="tableName"></include>
        where
        GUESSDETAIL_ID in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <insert id="regGuessDetail" parameterType="com.fh.entity.system.GuessDetailL">
        INSERT INTO
        <include refid="tableName"/>
        (
        APP_USER_ID,
        DOLL_ID,
        GUESS_KEY,
        GUESS_GOLD,
        CREATE_DATE,
        PLAYBACK_ID
        )
        VALUES (
        #{APP_USER_ID},
        #{DOLL_ID},
        #{GUESS_KEY},
        #{GUESS_GOLD},
        now(),
        #{PLAYBACK_ID}
        )
    </insert>

    <update id="updateGuessDetail" parameterType="com.fh.entity.system.GuessDetailL">
        UPDATE
        <include refid="tableName"/>
        SET
        GUESS_TYPE = #{GUESS_TYPE},
        SETTLEMENT_FLAG = #{SETTLEMENT_FLAG},
        SETTLEMENT_DATE = now(),
        SETTLEMENT_GOLD = #{SETTLEMENT_GOLD}
        WHERE
        GUESS_ID = #{GUESS_ID}
        AND
        DOLL_ID = #{DOLL_ID}

    </update>

    <select id="getFailer" parameterType="com.fh.entity.system.GuessDetailL" resultType="com.fh.entity.system.GuessDetailL">
       select
       *
       from
       tb_doll_guess_detail
       where
       GUESS_KEY  = #{GUESS_KEY}
       AND
       PLAYBACK_ID = #{PLAYBACK_ID}
       AND
       DOLL_ID = #{DOLL_ID}


    </select>

    <select id="getWinner" parameterType="com.fh.entity.system.GuessDetailL" resultType="com.fh.entity.system.GuessDetailL">
       select
       *
       from
       tb_doll_guess_detail
       where
       GUESS_KEY  = #{GUESS_KEY}
       AND
       PLAYBACK_ID = #{PLAYBACK_ID}
       AND
       DOLL_ID = #{DOLL_ID}

    </select>

    <select id="getAllGuesser" parameterType="String" resultType="com.fh.entity.system.GuessDetailL">
     SELECT
        <include refid="Field"/>
        FROM
     tb_doll_guess_detail
     WHERE
     PLAYBACK_ID = #{PLAYBACK_ID}
     AND
     DOLL_ID = #{DOLL_ID}

    </select>

    <update id="updateGuessDetailGuessType" parameterType="com.fh.entity.system.GuessDetailL">
        UPDATE
        tb_doll_guess_detail
        SET
        GUESS_TYPE=#{GUESS_TYPE},
        SETTLEMENT_FLAG = #{SETTLEMENT_FLAG},
        SETTLEMENT_DATE = now()
        WHERE
        GUESS_ID = #{GUESS_ID}
        AND
        DOLL_ID = #{DOLL_ID}

    </update>
    
    <select id="getGuessDetail" parameterType="com.fh.entity.system.GuessDetailL" resultType="com.fh.entity.system.GuessDetailL">
        SELECT
        *
        FROM
        tb_doll_guess_detail
        WHERE
        PLAYBACK_ID = #{PLAYBACK_ID}
        and
        APP_USER_ID = #{APP_USER_ID}
        AND
        DOLL_ID = #{DOLL_ID}

    </select>



	<select id="getGuessDetailTop10ByUserId" parameterType="String" resultType="pd">
			SELECT  dgd.APP_USER_ID,
				    dgd.GUESS_TYPE,
        			dgd.GUESS_KEY,
                    dgd.GUESS_GOLD,
			        dgd.CREATE_DATE,
			        dgd.SETTLEMENT_FLAG,
					dgd.SETTLEMENT_GOLD,
					dpd.GUESS_ID
					from TB_DOLL_GUESS_DETAIL dgd ,TB_DOLL_PLAY_DETAIL dpd 
				WHERE dpd.GUESS_ID=dgd.PLAYBACK_ID and dgd.DOLL_ID=dpd.DOLLID
				AND dgd.APP_USER_ID=#{userId}
			 	ORDER BY dgd.CREATE_DATE DESC
				LIMIT 0,10
	</select>


    <select id="getWinByNum" parameterType="com.fh.entity.system.GuessDetailL"
            resultType="com.fh.entity.system.GuessDetailL">

        SELECT * from TB_DOLL_GUESS_DETAIL WHERE
        GUESS_KEY  = #{GUESS_KEY}
        AND
        PLAYBACK_ID = #{PLAYBACK_ID}
        AND
        DOLL_ID = #{DOLL_ID}


    </select>


    <select id="getFailerByNum" parameterType="com.fh.entity.system.GuessDetailL"
            resultType="com.fh.entity.system.GuessDetailL">

        SELECT * from TB_DOLL_GUESS_DETAIL WHERE
        GUESS_KEY  != #{GUESS_KEY}
        AND
        PLAYBACK_ID = #{PLAYBACK_ID}
        AND
        DOLL_ID = #{DOLL_ID}


    </select>


</mapper>