<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderMapper">

    <insert id="regmount" parameterType="com.fh.entity.system.Order">
        INSERT INTO
        SYS_APP_ORDER
        (
        REC_ID,
        ORDER_ID,
        USER_ID,
        CREATETIME ,
        REGAMOUNT
        )
        VALUES
        (
        #{REC_ID},
        #{ORDER_ID},
        #{USER_ID},
        now(),
        #{REGAMOUNT}
        )
    </insert>


    <update id="update" parameterType="com.fh.entity.system.Order">

        UPDATE sys_app_order
        SET
        ORDER_NO = #{ORDER_NO},
        STATUS=#{STATUS},
        REGGOLD = #{REGGOLD}
        WHERE
        ORDER_ID = #{ORDER_ID}
    </update>

    <select id="getOrderById" parameterType="String" resultType="com.fh.entity.system.Order">
        SELECT
        *
        FROM
        sys_app_order
        WHERE
        ORDER_ID = #{ORDER_ID}
    </select>


	<select id="getUserRegDetaillistPage" parameterType="page" resultType="pd">
	SELECT 
		o.ORDER_ID,
		o.`STATUS`,
		o.REGAMOUNT,
		o.REGGOLD,
		o.CREATETIME,
		u.CNEE_NAME  
		FROM sys_app_order o 
			LEFT JOIN sys_app_user u 
			ON o.USER_ID=u.USER_ID
		WHERE 1=1 
		 <if test="pd.lastStart != null and pd.lastStart != ''">
             and date_format( o.CREATETIME,'%Y-%m-%d') &gt;= str_to_date(#{pd.lastStart}+' 00:00:00', '%Y-%m-%d %H:%i:%s')
         </if>
         <if test="pd.lastEnd != null and pd.lastEnd != ''">
             and date_format( o.CREATETIME,'%Y-%m-%d') &lt;= str_to_date(#{pd.lastEnd}+' 23:59:59', '%Y-%m-%d %H:%i:%s')
         </if>

	</select>
</mapper>