<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="paymentMapper">
    <insert id="reg" parameterType="com.fh.entity.system.Payment">
        INSERT INTO
        TB_APPUSER_PAYMENT
        (
        GOLD,
        USERID,
        CREATE_TIME,
        DOLLID,
        COST_TYPE,
        REMARK
        )VALUES
        (
        #{GOLD},
        #{USERID},
        now(),
        #{DOLLID},
        #{COST_TYPE},
        #{REMARK}
        )
    </insert>


	<!-- 列表 -->
	<select id="findGoldDetaillistPage" parameterType="page" resultType="pd">
		select 
			p.ID,
			p.USERID,
			p.GOLD,
			p.COST_TYPE,
			p.CREATE_TIME,
			p.REMARK,
			u.NICKNAME,
			u.NAME
			from TB_APPUSER_PAYMENT p 
						left join sys_app_user u
						on u.USER_ID=p.USERID

		where 1=1
       
        
            <if test="pd.lastStart != null and pd.lastStart != ''">
                and p.CREATE_TIME &gt;= str_to_date(#{pd.lastStart}, '%Y-%m-%d %H:%i:%s')
            </if>
            <if test="pd.lastEnd != null and pd.lastEnd != ''">
                and p.CREATE_TIME &lt;= str_to_date(#{pd.lastEnd}, '%Y-%m-%d %H:%i:%s')
            </if>
             <if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
            and  u.CNEE_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
        </if>
        <if test="pd.COST_TYPE != null and pd.COST_TYPE != ''"><!-- 状态检索 -->
            and p.COST_TYPE = #{pd.COST_TYPE}
        </if>
		
		ORDER BY P.CREATE_TIME desc
	</select>
	
	
		<!-- 列表 -->
	<select id="findRegDetaillistPage" parameterType="page" resultType="pd">
		select 
				
			   o.REC_ID,
			   o.ORDER_ID,
			   o.CREATETIME,
			   o.REGMODE,
			   o.REGAMOUNT,
			   o.`STATUS`,
			   u.NICKNAME,
			   u.NAME
			   from sys_app_order o 
			   		left join sys_app_user u 
			   			on u.USER_ID=o.USER_ID

		where 1=1
   
        
         <if test="pd.lastStart != null and pd.lastStart != ''">
             and o.CREATETIME &gt;= str_to_date(#{pd.lastStart}, '%Y-%m-%d %H:%i:%s')
         </if>
         <if test="pd.lastEnd != null and pd.lastEnd != ''">
             and o.CREATETIME &lt;= str_to_date(#{pd.lastEnd}, '%Y-%m-%d %H:%i:%s')
         </if>
         <if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
            and  u.CNEE_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
        </if>
        <if test="pd.STATUS != null and pd.STATUS != ''"><!-- 状态检索 -->
            and o.`STATUS` = #{pd.STATUS}
        </if>
		
		ORDER BY o.CREATETIME desc
	</select>
    
    <!--查询用户的支出明细-->
    <select id="getPaymenlist" parameterType="String" resultType="com.fh.entity.system.Payment">
        select 
			ID,
			DOLLID,
			GOLD,
			USERID,
			COST_TYPE,
			CREATE_TIME,
			REMARK,
			UPDATE_TIME
         from tb_appuser_payment where userid = #{USERID} order by create_time desc ;
    </select>
    

	  
	<select id="getRechargeCount" parameterType="pd" resultType="pd">
    SELECT 
    	DATE_FORMAT(t.CREATE_TIME,'%Y-%m-%d') as CREATE_TIME,
    	COUNT(1) as COUNT 
    	FROM TB_APPUSER_PAYMENT t 
    	where t.COST_TYPE='5'
    	  <if test="lastStart != null and lastStart != ''">
             and date_format(t.CREATE_TIME,'%Y-%m-%d') &gt;= str_to_date(#{lastStart}, '%Y-%m-%d %H:%i:%s')
         </if>
         <if test="lastEnd != null and lastEnd != ''">
             and date_format(t.CREATE_TIME,'%Y-%m-%d') &lt;= str_to_date(#{lastEnd}, '%Y-%m-%d %H:%i:%s')
         </if>
		GROUP BY  date_format(t.CREATE_TIME,'%Y-%m-%d')
	    ORDER BY  date_format(t.CREATE_TIME,'%Y-%m-%d')
	  </select>


    <select id="getRemainCount" parameterType="pd" resultType="pd">
    	SELECT 
    	DATE_FORMAT(t.CREATE_TIME,'%Y-%m-%d') as CREATE_TIME,
    	COUNT(1) as COUNT 
    	FROM TB_APPUSER_PAYMENT t 
    	where (t.COST_TYPE='0' or t.COST_TYPE='1')
    	  <if test="lastStart != null and lastStart != ''">
             and  date_format(t.CREATE_TIME,'%Y-%m-%d') &gt;= str_to_date(#{lastStart}, '%Y-%m-%d %H:%i:%s')
         </if>
         <if test="lastEnd != null and lastEnd != ''">
             AND date_format(t.CREATE_TIME,'%Y-%m-%d') &lt;= str_to_date(#{lastEnd}, '%Y-%m-%d %H:%i:%s')
         </if>
		GROUP BY  date_format(t.CREATE_TIME,'%Y-%m-%d')
	    ORDER BY  date_format(t.CREATE_TIME,'%Y-%m-%d')
	  </select>
	  
	  <!-- 总金额 -->
	  <select id="getUserTotal" parameterType="pd" resultType="pd">
	  	SELECT SUM(REGAMOUNT) as money FROM sys_app_order  WHERE STATUS=1 
	  </select>
	  
	  <!-- 每月总额 -->
	  <select id="getUserDateTotal" parameterType="page" resultType="pd">
	  	SELECT  
    	SUM(REGAMOUNT) AS countNumber,MONTH(CREATETIME) as dateTime ,YEAR(CREATETIME) as date
		FROM  
    	sys_app_order  WHERE `STATUS`=1
		GROUP BY MONTH(CREATETIME) 
	  </select>
	  
	  <!-- 今日总额 -->
	  <select id="getUserDayTotal" parameterType="page" resultType="pd">
	  SELECT SUM(REGAMOUNT) as money FROM sys_app_order 
	  	WHERE STATUS=1 and to_days(CREATETIME ) = to_days(now());
	  </select>
	  
	 <!-- 充值统计 -->
	 <select id="findRegTotallistPage" parameterType="page" resultType="pd">
		SELECT 
			   o.ORDER_ID,
			   o.CREATETIME,
			   o.REGMODE,
			   o.REGAMOUNT,
			   o.`STATUS`,
			   u.NICKNAME,
			   u.NAME
			   from sys_app_order o 
			   		left join sys_app_user u 
			   			on u.USER_ID=o.USER_ID

		where  o.`STATUS`=1
		<if test="pd.lastStart != null and pd.lastStart != ''">
             and o.CREATETIME &gt;= str_to_date(#{pd.lastStart}, '%Y-%m-%d %H:%i:%s')
         </if>
         <if test="pd.lastEnd != null and pd.lastEnd != ''">
             and o.CREATETIME &lt;= str_to_date(#{pd.lastEnd}, '%Y-%m-%d %H:%i:%s')
         </if>
         <if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
            and  u.NICKNAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
        </if>
        <if test="pd.STATUS != null and pd.STATUS != ''"><!-- 状态检索 -->
            and o.`STATUS` = #{pd.STATUS}
        </if>
		
		ORDER BY o.CREATETIME desc
	 </select>
</mapper>