<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PlayDetailMapper">

    <!--表名 -->
    <sql id="tableName">
		TB_DOLL_PLAY_DETAIL
	</sql>

    <!-- 字段 -->
    <sql id="Field">
		USERID,	
		DOLLID,	
		DOLL_NAME,
			
		STATE,	
		CREATE_DATE,
		ID
	</sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
		#{USERID},	
		#{DOLLID},	
		#{DOLL_NAME},	
		#{STATE},
		#{CREATE_DATE},	
		#{ID}
	</sql>

    <!-- 新增-->
    <insert id="save" parameterType="pd">
        insert into
        <include refid="tableName"></include>
        (
        <include refid="Field"></include>
        ) values (
        <include refid="FieldValue"></include>
        )
    </insert>

    <!-- 修改 -->
    <update id="edit" parameterType="pd">
        update
        <include refid="tableName"></include>
        set
        USERID = #{USERID},
        DOLLID = #{DOLLID},
        DOLL_NAME = #{DOLL_NAME_},
        STATE = #{STATE},
        CREATE_DATE = #{CREATE_DATE},
        ID = ID
        where
        ID = #{ID}
    </update>

    <!-- 通过ID获取数据 -->
    <select id="findById" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        where
        ID = #{ID}
    </select>

    <!-- 列表 -->
    <select id="datalistPage" parameterType="page" resultType="pd">
        select
        c.USERID,
        c.DOLLID,
        c.DOLL_NAME_,
        c.STATE,
        c.CREATE_DATE,
        c.ID,
        d.NICKNAME,
        e.DOLL_NAME
        from
        TB_DOLL_PLAY_DETAIL c
        LEFT JOIN SYS_APP_USER d on d.USER_ID=c.USERID
        LEFT JOIN SYS_APP_DOLL e on e.DOLL_ID=c.DOLLID
        where 1=1
        <if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
            and(
            d.NICKNAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
            or
            e.DOLL_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
            )
        </if>
        <if test="pd.STATE != null and pd.STATE != ''"><!-- 状态检索 -->
            and c.STATE = #{pd.STATE}
        </if>
    </select>


    <!-- 列表(全部) -->
    <select id="listAll" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
    </select>


    <insert id="reg" parameterType="com.fh.entity.system.PlayDetail">
        INSERT INTO
        TB_DOLL_PLAY_DETAIL
        (
        DOLLID,
        USERID,
        CREATE_DATE,
        GUESS_ID,
        GOLD,
        CONVERSIONGOLD
        )
        VALUES (
        #{DOLLID},
        #{USERID},
        now(),
        #{GUESS_ID},
        #{GOLD},
        #{CONVERSIONGOLD}
        )
    </insert>

    <select id="getPlayDetailByGuessID" parameterType="com.fh.entity.system.PlayDetail"
            resultType="com.fh.entity.system.PlayDetail">
        SELECT * FROM
        TB_DOLL_PLAY_DETAIL
        WHERE
        GUESS_ID = #{GUESS_ID}
        AND
        DOLLID = #{DOLLID}

    </select>

    <select id="getPlayDetailLast" parameterType="com.fh.entity.system.PlayDetail"
            resultType="com.fh.entity.system.PlayDetail">
        SELECT * from
        TB_DOLL_PLAY_DETAIL
        WHERE
        DOLLID = #{DOLLID}
        ORDER BY
        CREATE_DATE
        DESC
        limit
        1
    </select>

    <select id="getPlayIdForPeople" parameterType="String" resultType="com.fh.entity.system.PlayDetail">
        SELECT * from
        TB_DOLL_PLAY_DETAIL
        WHERE
        DOLLID= #{DOLLID}
        ORDER BY
        CREATE_DATE
        DESC
        limit
        0,1
    </select>

    <update id="updatePlayDetailStopFlag" parameterType="com.fh.entity.system.PlayDetail">
        UPDATE
        TB_DOLL_PLAY_DETAIL
        SET
        STOP_FLAG = #{STOP_FLAG}
        WHERE
        GUESS_ID = #{GUESS_ID}

    </update>

    <update id="updatePlayDetailState" parameterType="com.fh.entity.system.PlayDetail">
        UPDATE
        TB_DOLL_PLAY_DETAIL
        SET
        STATE = #{STATE},
        POST_STATE = #{POST_STATE}
        WHERE
        GUESS_ID = #{GUESS_ID}
        AND
        DOLLID = #{DOLLID}
    </update>

    <select id="getPlayDetailForCamera" parameterType="com.fh.entity.system.PlayDetail"
            resultType="com.fh.entity.system.PlayDetail">
       SELECT * FROM
       TB_DOLL_PLAY_DETAIL
       WHERE
       GUESS_ID = #{GUESS_ID}
       and
       DOLLID = #{DOLLID}
       and
       USERID = #{USERID}
   </select>
    <update id="updatePlayDetailForCamera" parameterType="com.fh.entity.system.PlayDetail">
        UPDATE
        TB_DOLL_PLAY_DETAIL
        SET
        CAMERA_DATE = #{CAMERA_DATE}
        WHERE
        ID = #{ID}
    </update>
    <!--获取玩家的抓中记录信息-->
    <select id="getPlaylist" parameterType="String" resultType="com.fh.entity.system.PlayDetail">
            SELECT h.* FROM (select
            d.DOLL_NAME, d.doll_url, dd.ID, dd.USERID, dd.GUESS_ID, dd.DOLLID, dd.STATE, dd.CREATE_DATE, dd.GOLD, dd.CAMERA_DATE,
            dd.STOP_FLAG,dd.CONVERSIONGOLD,dd.POST_STATE,dd.SENDGOODS,u.NICKNAME,u.IMAGE_URL
            from
            tb_doll_play_detail as dd
            inner join  sys_app_doll as d on d.doll_id = dd.dollid
            inner join sys_app_user as u on u.user_id = dd.userid
            where u.user_id = #{USERID}
            and dd.state = '1') AS h
            order by
            h.POST_STAT
            ASC
    </select>

    <!--查询用户分组抓到的娃娃的数量-->
   <!-- <select id="getDollCount" parameterType="String" resultType="com.fh.entity.system.PlayDetail">
        select
        dd.userid ,dd.conversiongold ,u.nickname,d.doll_name,count(*) AS COUNT
        from
        tb_doll_play_detail as dd
        inner join  sys_app_doll as d on d.doll_id = dd.dollid
        inner join sys_app_user as u on u.user_id = dd.userid
        where u.user_id = #{USERID}
        and dd.state = '1'
        and DOLLID
        in
        (
        select DOLLID
        from tb_doll_play_detail
        where  USERID = #{ USERID}
        group by DOLLID
        )
        group by
    </select>-->

    <select id="getDollCount" parameterType="String" resultType="com.fh.entity.system.PlayDetail">
       SELECT D.*,
                ad.DOLL_NAME,
                au.CNEE_NAME from (
				select  t.DOLLID,
						t.USERID,
						t.CONVERSIONGOLD,
						COUNT(1) as COUNT from
						tb_doll_play_detail t
						where  t.USERID=#{ USERID}
						AND t.state = '1'
						group by  DOLLID,USERID,CONVERSIONGOLD
        ) d,sys_app_doll ad,sys_app_user au
        WHERE ad.DOLL_ID=d.DOLLID
        and au.USER_ID=d.USERID
        and d.USERID=#{ USERID}
    </select>


    <!--查询最近抓取成功的10条记录-->
    <select id="getPlayRecordPM" resultType="com.fh.entity.system.PlayDetail">
        select
        u.nickname,u.IMAGE_URL,d.doll_name
        from
        tb_doll_play_detail as dd
        inner join  sys_app_doll as d on d.doll_id = dd.dollid
        inner join sys_app_user as u on u.user_id = dd.userid
        WHERE
        dd.STATE = '1'
        ORDER BY
        dd.CREATE_DATE
        DESC
        limit
        0,10
    </select>


    <update id="updatePostState" parameterType="com.fh.entity.system.PlayDetail">
        UPDATE
        tb_doll_play_detail
        SET
        SENDGOODS = #{SENDGOODS},
        POST_STATE = #{POST_STATE}
        WHERE
        ID = #{ID}
    </update>

    <update id="updatePostStateForCon" parameterType="com.fh.entity.system.PlayDetail">
        UPDATE
        tb_doll_play_detail
        SET
        POST_STATE = #{POST_STATE}
        WHERE
        ID = #{ID}
    </update>

    <select id="getPlayDetailById" parameterType="java.lang.Integer" resultType="com.fh.entity.system.PlayDetail">
        SELECT
        d.DOLL_NAME, d.doll_url, dd.ID, dd.USERID, dd.GUESS_ID, dd.DOLLID, dd.STATE, dd.CREATE_DATE, dd.GOLD, dd.CAMERA_DATE,
        dd.STOP_FLAG,dd.CONVERSIONGOLD,dd.POST_STATE,dd.SENDGOODS,u.NICKNAME,u.IMAGE_URL
        from
        tb_doll_play_detail as dd
        inner join  sys_app_doll as d on d.doll_id = dd.dollid
        inner join sys_app_user as u on u.user_id = dd.userid
        WHERE
        dd.ID=#{ID}
    </select>
</mapper>