<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PondMapper">

    <!--表名 -->
    <sql id="tableName">
        TB_DOLL_GUESS_POND
    </sql>


    <sql id="Field">
        POND_ID,
        GUESS_ID,
        GUESS_Y,
        GUESS_N,
        GUESS_GOLD,
        CREATE_DATE,
        UPDATA_DATE,
        POND_FLAG,
        DOLL_ID

    </sql>

    <sql id="FieldValue">
        #{POND_ID},
        #{GUESS_ID},
        #{GUESS_Y},
        #{GUESS_N},
        #{GUESS_GOLD},
        #{CREATE_DATE},
        #{UPDATE_DATE},
        #{POND_FLAG},
        #{DOLL_ID}
    </sql>

    <insert id="regPond" parameterType="com.fh.entity.system.Pond">
        INSERT INTO
        <include refid="tableName"/>
        (
        GUESS_ID,
        DOLL_ID,
        CREATE_DATE
        )
        VALUES
        (
        #{GUESS_ID},
        #{DOLL_ID},
        now()
        )

    </insert>

    <update id="updatePondY" parameterType="com.fh.entity.system.Pond">
        UPDATE
        <include refid="tableName"/>
        SET
        GUESS_Y = #{GUESS_Y},
        GUESS_GOLD = #{GUESS_GOLD},
        UPDATE_DATE = now()
        WHERE
        POND_ID = #{POND_ID}
    </update>

    <update id="updatePondN" parameterType="com.fh.entity.system.Pond">
        UPDATE
        <include refid="tableName"/>
        SET
        GUESS_N = #{GUESS_N},
        GUESS_GOLD = #{GUESS_GOLD},
        UPDATE_DATE = now()
        WHERE
        POND_ID = #{POND_ID}
    </update>

    <select id="getPondByPlayId" parameterType="com.fh.entity.system.Pond"
    resultType="com.fh.entity.system.Pond">

        SELECT * FROM
        <include refid="tableName"/>
        WHERE
        GUESS_ID = #{GUESS_ID}
        AND
        DOLL_ID = #{DOLL_ID}

    </select>

    <select id="getPondById" parameterType="java.lang.Integer"
            resultType="com.fh.entity.system.Pond">
        SELECT * FROM
        <include refid="tableName"/>
        WHERE
        POND_ID = #{POND_ID}
    </select>

    <update id="updatePondFlag" parameterType="com.fh.entity.system.Pond">

        UPDATE
        <include refid="tableName"/>
        SET
        GOLD_N = #{GOLD_N},
        GOLD_Y = #{GOLD_Y},
        GUESS_STATE = #{GUESS_STATE},
        POND_FLAG = #{POND_FLAG}
        WHERE
        POND_ID = #{POND_ID}
    </update>

    <select id="getGuessList" parameterType="String" resultType="com.fh.entity.system.Pond">
     SELECT * FROM
     ( SELECT * FROM tb_doll_guess_pond  AS h WHERE h.DOLL_ID = #{DOLL_ID} ORDER BY h.CREATE_DATE DESC LIMIT 0,10)
     as m
     ORDER BY
      m.CREATE_DATE
      ASC

    </select>

    <update id="updatePondGuesser" parameterType="com.fh.entity.system.Pond">
        UPDATE
        <include refid="tableName"/>
        SET
        GUESSER_NAME = #{GUESSER_NAME}
        WHERE
        POND_ID = #{POND_ID}
    </update>

    <select id="getGuesserlast10" resultType="com.fh.entity.system.Pond">
        SELECT *  FROM <include refid="tableName"/> where GUESSER_NAME != '' ORDER BY CREATE_DATE DESC limit 0,10
    </select>









</mapper>