<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RunImageMapper">
	
	<!--表名 -->
	<sql id="tableName">
		TB_APP_RUNIMAGE
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		IMAGE_URL,	
		RUN_NAME,	
		RUNIMAGE_ID,
		TIME,
		HREF_ST,
		CONTENT,
		LIVESTREAM,
		SERVER_NAME,
		RTMP_URL,
		H5_URL,
		DEVICE_STATE,
		STATE
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{IMAGE_URL},	
		#{RUN_NAME},	
		#{RUNIMAGE_ID},
		#{TIME},
		#{HREF_ST},
		#{CONTENT},
		#{LIVESTREAM},
		#{SERVER_NAME},
		#{RTMP_URL},
		#{H5_URL},
		#{DEVICE_STATE},
		#{STATE}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			RUNIMAGE_ID = #{RUNIMAGE_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			IMAGE_URL = #{IMAGE_URL},
			RUN_NAME = #{RUN_NAME},
			HREF_ST = #{HREF_ST},
		    CONTENT = #{CONTENT},
		    LIVESTREAM = #{LIVESTREAM},
		    SERVER_NAME = #{SERVER_NAME},
		    RTMP_URL = #{RTMP_URL},
		    H5_URL = #{H5_URL},
		    DEVICE_STATE = #{DEVICE_STATE},
			STATE = #{STATE}
		where 
		RUNIMAGE_ID = #{RUNIMAGE_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			RUNIMAGE_ID = #{RUNIMAGE_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1

	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			RUNIMAGE_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>


	<select id="getRunImageById" parameterType="String" resultType="com.fh.entity.system.RunImage">
		SELECT * FROM <include refid="tableName"/> WHERE RUNIMAGE_ID = #{RUNIMAGE_ID}
	</select>

	<select id="getRunImageList"  resultType="com.fh.entity.system.RunImage">
		SELECT
		IMAGE_URL,
		RUN_NAME,
		RUNIMAGE_ID,
		TIME,
		HREF_ST,
		CONTENT,
		LIVESTREAM,
		SERVER_NAME,
		RTMP_URL,
		H5_URL,
		DEVICE_STATE,
		STATE
		FROM <include refid="tableName"/>
	</select>

</mapper>