<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

	<!-- 定时获取SRS流媒体摄像头状态 -->
	<bean id="srsCameraBizJob" class="com.fh.job.SrsCameraBizJob"></bean>

    <bean id="srsCameraBizTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="srsCameraBizJob" />
		</property>
		<property name="targetMethod">
			<value>getCameraStateJob</value>
		</property>
	    <property name="concurrent">  
	        <value>false</value>  
	    </property>  		
	</bean>
	
		
	<!--触发的时间  每次相隔20s执行 -->
	<bean id="srsCameraBizTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="srsCameraBizTask" />
		</property>
		<property name="cronExpression">
			<value>0/20 * * * * ?</value>
		</property>
	</bean>
	
	
	
	<!-- 定时获取网关状态-->
	<bean id="dollStateBizJob" class="com.fh.job.DollStateBizJob"></bean>

    <bean id="dollStateBizTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="dollStateBizJob" />
		</property>
		<property name="targetMethod">
			<value>getDollStateJob</value>
		</property>
	    <property name="concurrent">  
	        <value>false</value>  
	    </property>  		
	</bean>
	
		
	<!--触发的时间  每次相隔1分钟执行 -->
	<bean id="dollStateBizTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="dollStateBizTask" />
		</property>
		<property name="cronExpression">
			<value>0 0/1 * * * ?</value>
		</property>
	</bean>
	
	<bean autowire="no" id="startQuartz" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="srsCameraBizTrigger" />
				<ref bean="dollStateBizTrigger" />
			</list>
		</property>
	</bean>	
	
</beans>


